@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

body {
  background: #fff url(../img/fon-logo_1.jpg) no-repeat center center fixed;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 40px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;	
}

.img{   
	
    padding-top: 180px;
    padding-left: 30px;
    text-align: center;  
	
}

.centerbutton {
    text-align: center;  
    padding-top: 30px;
    padding-left: 35px;
}


.text {  
  position: relative;
  top: 400px;
  left: -35px;
  text-align: center; 
}


p {
  color: #FFFFFF;
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.word {
  position: absolute;
  width: 220px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #FFFFFF;
}

.belize {
  color: #FFFFFF;
}

.pomegranate {
  color: #00FFA9;
}

.green {
  color: #FFFFFF;
}

.midnight {
  color: #00FFA9;
}
